.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 285px;
    transition: 0.3s;
    /* margin: auto; */
    text-align: center;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
a img {
    width: 20%;
}