.toolbar-wrapper{
    background-color: grey;
    /* width: 100%; */
    height: 50px;
    display: flex;
    /* justify-content: center; */
}
.product-name {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    padding-right: 1%;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pageContainer {
    /* height: 100vh; */
    /* width: 100%; */
    margin-bottom: 1%;
}
.master {
    display: inline-block;
    /* width: 15%; */
    /* height: 50%; */
    top: 0px;
}
.detail {
    display: inline-block;
    /* width: 85%; */
    /* height: 50%; */
    vertical-align: top;
}
.master, .detail {
    margin-top: 1%;
}

.row{
    margin-bottom: 2%;
}

.border{
    border-color: DarkSlateBlue !important;
    border-width: 2px !important;
    margin-bottom: 1rem;
    /* background-color: rgba(217, 255, 255, 0.1); */
    
}
/* Using Bootstrap classes I achieved all these:
/* Responsive design (Smartphones, portrait mode): 
@media (max-width: 420px) {
    .master, .detail {
        display: inline;
        width: 100%;
    }
}
/* Responsive design (Smartphones, landscape mode): 
@media screen and (orientation:landscape) and (min-width : 321px){
    .master {
        width: 30%;
    }
    .detail {
        width: 70%;
    }
}

/* */