.pageContainer {
    height: 100%;
    width: 100%;
}
.master {
    padding: 0;
    width: 30%;
    height: 100%;
    float:left;
    
}
.detail {
    padding: 0;
    width: 70%;
    height: 100%;
    float:right;
}

