/* .page {
    height: 100%;
    background-color: azure;
}
.container {
    display: flex;
    height: 100%;
}

.master {
    flex: 0 0 10%;
    border-width: 1px;
    border-color:  yellow;
    background-color: antiquewhite;
}

.detail {
    flex: 1;
    border-width: 1px;
    border-color: red;
    background-color: cadetblue;
} */

.card {
    width: 20%;
}
.card-header {
    padding: 0;
}